.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .social__networks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 4%;

    .social__network {
      text-decoration: none;
      color: #111;
      padding: 12px 4%;
      transition-duration: 1s;
      @media screen and (min-width: 768px) {
        padding: 10px;
      }
      &:hover {
        color: aqua;
      }
    }
  }
  .logo {
    padding-bottom: 30px;
  }
}
