@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@500&display=swap");

.banner {
  padding-bottom: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 0.9rem;
  background-image: url("../images/bgi-header-mobil.jpg");
  background-size: cover;
  background-position: center center;
  @media screen and (min-width: 678px) {
    background-image: url("../images/bgi-header.jpg");
    background-size: cover;
    background-position: center center;
  }

  &__presention {
    width: 80%;
    display: flex;
    height: 85%;
    .vertical {
      width: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .vertical__line {
        width: 1.5px;
        height: 50%;
        position: relative;
        top: 50%;
        margin-right: 0px;
        margin-left: 0px;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(125, 179, 51, 1) 50%,
          rgba(255, 255, 255, 1) 100%
        );
      }
    }

    .banner__titles {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      margin-top: 10px;
      width: 100%;
      margin-left: -5px;
      position: relative;
      top: 60px;
      .banner__title {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-family: "Cinzel", serif;
        font-family: "Cinzel Decorative", cursive;
        word-spacing: 0.5rem;
        border-bottom: 2px solid;
        border-image: radial-gradient(
            circle,
            rgba(63, 94, 251, 1) 0%,
            rgba(255, 255, 255, 1) 100%
          )
          10;
      }

      p {
        font-size: 1rem;
        text-align: center;
        font-family: "Cinzel", serif;
        font-family: "Cinzel Decorative", cursive;
      }
      .banner__formation {
        font-size: 0.8em;
      }
    }
  }

  &__cv {
    display: flex;
    width: 80%;
    height: 16%;
    font-family: "Cinzel", serif;
    font-family: "Cinzel Decorative", cursive;

    .vertical__icon {
      p {
        margin-bottom: 0;
      }
    }

    .vertical {
      width: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      height: 145px;
      .vertical__line {
        width: 2px;
        height: 100%;
        margin-right: 0px;
        margin-left: 0;
        border-radius: 5px solid;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(125, 179, 51, 1) 50%,
          rgba(255, 255, 255, 1) 100%
        );
      }
    }

    .vertical__cv {
      width: 100%;
      display: flex;
      position: relative;
      margin-left: 15px;
      margin-top: -2px;
      a {
        height: 30px;
      }
      .vertical__button {
        width: 120px;
        border: none;
        border-radius: 50px;
        text-align: center;
        font-family: "Cinzel", serif;
        background: rgb(0, 166, 81);
        background: linear-gradient(
          90deg,
          rgba(0, 166, 81, 1) 4%,
          rgba(141, 198, 63, 1) 100%
        );
        color: #000;
        text-decoration: none;
        padding: 5px 17px;
        padding-top: 6px;
        font-size: 10px;
        font-weight: bold;
        transition-duration: 0.4s;
        box-shadow: 3px 4px 42px -10px rgba(42, 242, 112, 0.88);
        -webkit-box-shadow: 3px 4px 42px -10px rgba(99, 242, 42, 0.88);
        -moz-box-shadow: 3px 4px 42px -10px rgba(42, 242, 189, 0.88);
        cursor: pointer;
        &:hover {
          background: rgb(0, 110, 255);
          background: linear-gradient(
            90deg,
            rgba(0, 110, 255, 1) 4%,
            rgba(141, 198, 63, 1) 100%
          );
          color: #fff;
          box-shadow: 3px 4px 42px -10px rgba(0, 110, 255, 0.88);
          -webkit-box-shadow: 3px 4px 42px -10px rgba(0, 110, 255, 0.88);
          -moz-box-shadow: 3px 4px 42px -10px rgba(0, 110, 255, 0.88);
        }
      }
    }
  }
}
